<section class="distance-learning-area bg-e4feff pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="distance-learning-image">
                    <img src="assets/img/business-coaching/distance-learning.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="distance-learning-content">
                    <span class="sub-title">Tadİvo</span>
                    <h2>22 yıldır en önemli önceliğimiz her zaman müşteri memnuniyeti olmuştur.</h2>
                    <p style="text-align: justify;">Uzun yılların verdiği deneyim ile yemek sektöründe her çeşit lezzeti sanata dönüştüren ustalarımız sayesinde sunduğumuz her bir hizmette kendimize güveniyoruz. Ayrıca üretimin her aşamasında taze ürün ve hijyen ilkemizden vazgeçmiyoruz. Kaliteli markalar kullanarak oluşturduğumuz sağlıklı menülerimiz ile ev yemeği tadında lezzetli sonuçları size sunuyoruz.​ </p>
                    <ul class="features-list">
                        <li><span><i class="flaticon-self-growth"></i> Lezzet Dolu Menü</span></li>
                        <li><span><i class="flaticon-clock"></i>Sunulan Menü</span></li>
                        <li><span><i class="flaticon-ebook"></i>Müşteri Memnuniyet Oranı</span></li>
                        <!-- <li><span><i class="flaticon-factory"></i> Branching</span></li> -->
                    </ul>
                    <a routerLink="/register" class="default-btn"><i class='bx bx-user-circle icon-arrow before'></i><span class="label">Join For Free</span><i class="bx bx-user-circle icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="business-shape4"><img src="assets/img/business-coaching/business-shape4.png" alt="image"></div>
</section>