<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Bize Ulaşın </h3>
                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank">İstasyon, Leylak Cd. No:5, 06790 Etimesgut/Ankara</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+11234567890">+1 (123) 456 7890</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:hello@ednuv.com">tadivo@gmail.com</a>
                        </li>
                    </ul>
                    <ul class="social-link">
                        <li><a href="{{facebookModel.value}}" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="{{twitterModel.value}}" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="{{instagramModel.value}}" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="{{youtubeModel.value}}" class="d-block" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Kısayol
                    </h3>
                    <ul class="support-link">
                        <li><a routerLink="/">Anasayfa</a></li>
                        <li><a routerLink="/">Hakkımızda</a></li>
                        <li><a routerLink="/">Bize Ulaşın</a></li>
                        <li><a routerLink="/">Sertifikalarımız</a></li>
                        <li><a routerLink="/">Blog</a></li>
                        <li><a routerLink="/">Galeri</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Hizmetler</h3>
                    <ul class="useful-link">
                        <li><a routerLink="/">Tadivo</a></li>
                        <li><a routerLink="/">Taşımalı Yemek</a></li>
                        <li><a routerLink="/">Yerinde Yemek</a></li>
                        <li><a routerLink="/">Paket Yemek</a></li>
                        <li><a routerLink="/">Organizasyon</a></li>
                        <li><a routerLink="/">Toplu Yemek</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Newsletter</h3>
                    <div class="newsletter-box">
                        <p>To get the latest news and latest updates from us.</p>
                        <form class="newsletter-form">
                            <label>Your e-mail address:</label>
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <!-- <a routerLink="/" class="d-inline-block"><img src="assets/img/logo.png" alt="image"></a> -->
            </div>
            <p>© Designed and Developed by<a href="https://vakifglobal.com/" target="_blank" ><img src="https://diyanet.se/assets/img/isvecPhotos/vakifGlobalLogo.png" style="width: 135px;" alt="image"></a></p>
        </div>
    </div>
</footer>
<ngx-scrolltop></ngx-scrolltop>
